<!--The whole content below can be removed with the new code.-->
<select #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ "langs." + lang | translate }}</option>
</select>
<div>{{ 'hello' | translate:{value: profile.email }  }}</div>
<button id="google-login-button" (click)="loging()">loging</button>
<button (click)="logout()">logout</button>
<div>
  <img src="{{ profile.image }}">
</div>

<h1> {{ 'home' | translate }}!! </h1>
<p> {{ 'home_description' | translate }}: </p>

